<section class="main" id="mainElement" #mainElement>
  <div class="container main-container">
    <div class="main-info">
      <h1 class="main-title">Мягкие французские пироженки Macaroons</h1>
      <div class="main-text">Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками
        Macaroon!
      </div>
      <div class="main-action">
        <button appButton
                [backgroundDefault]="'linear-gradient(360deg, rgb(113 8 30) 0%, rgb(215, 72, 92) 100%)'"
                [backgroundHover]="'0 5px 9px 1px rgba(130, 19, 40, 0.5)'"
          class="btn main-action-btn" (click)="scrollTo(productsElement)">Выбрать макарун</button>
      </div>
    </div>
    <div class="main-img"><img src="assets/img/main-img.png" class="main-img-macaroon" alt="macaroons"></div>
  </div>
</section>
<section class="content" id="contentElement">
  <div class="container content-container">
    <div class="content-info">
      <div class="content-info-box">
        <div class="content-info-title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</div>
        <div class="content-info-text">Все пироженки мы готовим только из натуральных и качественных продуктов,
          без консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без
          дрожжей, маргарина, разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="content-info-img">
        <img src="assets/img/content-img.png" class="content-info-macaroon" alt="macaroon">
      </div>
    </div>
    <advantage></advantage>
  </div>
</section>
<section class="macaroons" id="macaroonsElement" #productsElement>
  <div class="container macaroons-container">
    <h2 class="macaroons-title">Выберите свой макарун</h2>
    <div class="macaroons-items">
      <product *ngFor="let product of products" [product]="product"
               (addToCartEvent)="addToCart($event, orderElement)"></product>
    </div>
  </div>
</section>
<section class="order" id="orderElement" #orderElement>
  <div class="container order-container">
    <div class="order-info">
      <div class="order-info-img">
        <img src="assets/img/order-straw-left.png" class="order-info-img-straw" alt="strawberry">
        <img src="assets/img/order-img.png" class="order-info-img-macaroon" alt="macaroon">
      </div>
      <div class="order-info-content">
        <div class="order-info-title">Закажите макарун!</div>
        <div class="order-info-text">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
          пекаря!
        </div>
        <form class="order-product">
          <div class="order-product-subtitle">Ваш выбор</div>
          <input class="order-product-input big-margin" name="choice" [(ngModel)]="formValues.productTitle"
                 placeholder="Напишите, что хотите заказать...">
          <div class="order-product-subtitle">Заполните данные для заказа</div>
          <input class="order-product-input" name="name" [(ngModel)]="formValues.name" placeholder="Ваше имя">
          <input class="order-product-input" name="number" [(ngModel)]="formValues.phone"
                 placeholder="+375 (__) ___ - __ - __">
          <button appButton
                  [backgroundDefault]="'linear-gradient(360deg, rgb(113 8 30) 0%, rgb(215, 72, 92) 100%)'"
                  [backgroundHover]="'0 5px 9px 1px rgba(130, 19, 40, 0.5)'"
            type="submit" class="order-product-btn btn" (click)="createOrder()">Оформить заказ</button>
        </form>
        <img src="assets/img/order-straw-2.png" class="order-product-img-straw" alt="strawberry">
      </div>
    </div>
  </div>
</section>
<div class="present" *ngIf="showPresent">
  <div class="present-image">
    <img src="assets/img/cart.png" class="present-img" alt="present">
  </div>
  <div class="present-block" *ngIf="cartService.sum">{{ cartService.sum.toFixed(2) | currency:'RUB':'руб.' }}
  </div>
  <div class="present-count" *ngIf="cartService.count">{{ cartService.count }}</div>
</div>
