<footer class="footer">
  <div class="footer-container container">
    <div class="footer-info">
      <a (click)="scrollToMain()" class="logo header-logo"><img src="assets/img/logo.png" class="footer-logo-img" alt="logo"></a>
      <a href="{{footerInfo.instagram}}" target="_blank"><img src="assets/img/instagram.png" class="footer-instagram-img" alt="instagram"></a>
      <div class="footer-phone">{{footerInfo.phone | phone}}</div>
      <div class="footer-text">Все права защищены, 2020</div>
      <div class="footer-title">Мы в Instagram</div>
    </div>
  </div>
</footer>
